#	Name: Gimbal
#	Description: It starts the framework, redirecting all requets to a main file
#	Author: Gabriel Henrique
#	Username: @ghrlbr
#	Date: August/2018
#	License: BSD


#	Ativa o módulo de reescrita de URL do Apache
RewriteEngine On

# Redireciona todas as requisições para o arquivo "system/main.php"
RewriteCond %{REQUEST_URI} !^\/application
	RewriteRule ^(.*)$ system/main.php [L]
