<!DOCTYPE html>

<html lang="en-US">

	<head>

		<title>Welcome to Gimbal</title>

		<resource type="style" path="externals/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<resource type="style" path="stylesheets/gimbal.css"/>
		
		<resource type="script" path="externals/jquery/js/jquery-3.3.1.min.js"/>
		<resource type="script" path="externals/bootstrap/3.3.7/js/bootstrap.min.js"/>
		<resource type="script" path="scripts/gimbal.js"/>
		
	</head>
	
	<body class="body">

		<div class="container-fluid">
		
			<div class="row">
			
				<h1 class="col-md-12 title text-center">Gimbal Framework</h1>
				<h4 class="col-md-12 description text-center">Gimbal is a PHP framework with main features already developed for you construct your website easily</h4>
			
			</div>
		
		</div>
	
	</body>

</html>